<div class="work" style="margin-top: 20px;">
  <h2 style="font-family: 'Playfair Display', serif; text-align: left;">Meet the <span class="gradient-text">team.</span></h2>
  <span style="text-align: left; margin-bottom: 10px;">
    First issue of Meliora is a collective and creative effort of enthusiastic young minds of 2019 Batch under coordination of Magazine Committee, Navodhan20-21.
  </span>
  <div class="work--lockup">
    <!-- Sliders -->
    {% include author-slider.html %}
  </div>
</div>