<div class="feature-carousel">
    {% for item in page.authors %}
    <div class="author--carousel-cell" style="margin: 6px;">
        <div class="author--photo" style="background: url('{{ site.baseurl }}{{ item.photo }}'); background-position: center; background-size: cover; width: 100px; height: 130px; border-radius: 10px;"></div>
        <span class="author--name" style="text-align: center; margin: 0px auto; font-size: 10px; font-family: 'Playfair Display', serif;">{{ item.name }}</span>
    </div>
    {% endfor %}
</div>