<div class="work" style="margin-top: 20px;">
  <h2 style="font-family: 'Playfair Display', serif; text-align: left;">The <span class="gradient-text">Highlights</span></h2>
  <span style="text-align: left; margin-bottom: 10px;">
    The first edition of Meliora brings to you a sweet conversation with Dr. Sreekumari, former HOD Department of Biochemistry. What’s Brewing summarizes the experiences of a fresh batch of Doctors on their course completion and internship during the pandemic. 
  </span>
  <div class="work--lockup">
    <!-- Sliders -->
    {% include feature-slider.html %}
  </div>
</div>