<!-- Flickity Slider -->
<script src="{{ site.baseurl }}/assets/js/flickity.pkgd.min.js"></script>
<script>
$('.main-carousel').flickity({
  cellAlign: 'left',
  contain: true,
  freeScroll: true,
  pageDots: false,
  prevNextButtons: false,
  lazyLoad: true
});
$('.author-carousel').flickity({
  cellAlign: 'left',
  contain: true,
  freeScroll: true,
  pageDots: false,
  prevNextButtons: false,
  lazyLoad: true
});
$('.highlights-carousel').flickity({
  cellAlign: 'left',
  contain: true,
  freeScroll: true,
  pageDots: false,
  prevNextButtons: false,
  autoPlay: 1500,
  pauseAutoPlayOnHover: false
});
</script>