<header class="header">
    <a class="header--logo" href="{{ site.baseurl }}">
      <p {% if page.design.accent_color %}style="color: {{ page.design.accent_color }}; font-family: 'Cinzel Decorative', cursive;" {% else %}class="gradient-text" style="font-family: 'Cinzel Decorative', cursive;"{% endif %}>{{ site.data.metadata.logo_text }}</p>
    </a>
    {% if page.magazine_file %}
    <a href="{{ site.baseurl }}/web/viewer.html?file={{ page.magazine_file | url_encode }}" class="readnow" style="text-decoration: none; color: {{ page.design.accent_color }};" href="{{ site.baseurl }}">Read Now</a>
    {% endif %}
</header>