<div class="l-section">
    <div class="work">
      <h2 style="font-family: 'Cinzel Decorative', cursive;"><span class="gradient-text">{{ site.data.landing.landingTitleGradient }}{% if site.data.landing.landingTagline %} :</span> {{ site.data.landing.landingTagline }}{% endif %}</h2>
      <span style="text-align: center; margin-bottom: 10px;">{{ site.data.landing.landingDescription}}</span>
      <div class="work--lockup">

        <!-- Sliders -->
        {% include slider.html %}

      </div>
    </div>
</div>