<div class="l-section">
    <div class="work">
      <h2 style="font-family: 'Playfair Display', serif;">Find the <span class="gradient-text">meliora</span></h2>
      <span style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</span>
      <div class="work--lockup">

        <!-- Sliders -->
        {% include slider.html %}

      </div>
    </div>
</div>
<footer>
    <span class="footer--meliora" style="position: relative; display: block; margin-top: 30px; color: #5b5b5b; font-size: 10px; text-align: center; width: 100%;">
        &copy; Meliora 2021 | Navodhan20'21 | SGMC
    </span>
</footer>