/* Flickty Cell Design */
.carousel-cell {
    margin: 20px;
}

@media (max-width: 1180px) {
    .flickity-viewport {
        overflow: visible !important;
    }
}

@media (max-width: 350px) {
    .carousel-cell {
        margin: 10px;
    }    
}
/* Magazine Design 
*/
.magazine--cover {
    width: 250px;
    height: 350px;
    border-radius: 10px;
}

.magazine--button {
    position: absolute;
    z-index: 2;
    bottom: 8px;
    right: 10px;
    background: #ccc;
    padding: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.47);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.magazine--title {
    margin: 0px auto;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 35px;
    color: #000;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    letter-spacing: 1px;
}

.magazine--date {
    display: block;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
}

.magazine--edition {
    display: block;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
a.magazine--button {
    text-decoration: none;
}

/* Gradient Text */
.gradient-text {
    background: #fc0b85;
    background: linear-gradient(324deg,#fc0b85 0,#ff0101 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/* Read Now */
.readnow {
    color: #fff;
    background: #ffffff30;
    padding: 5px 15px;
    border-radius: 5px;
}

/* New magazine tag
*/
.tag-magazine {
    position: absolute;
    background: #ff3737;
    top: 10px;
    left: -5px;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.featured--image {
    width: 170px;
    height: 220px;
    float: left;
    display: block;
    margin-right: 15px;
    border-radius: 15px;
    padding: 5px;
}

.editors--note {
    width: 95%;
    display: block;
}

.cover--image_author {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

.author--details {
    font-size: 10px;
    margin-left: 10px;
    line-height: 0.8rem;
}

.author--name {
    display: block;
    font-weight: 600;
}

/* footer */
footer {
    background: #0c0c0c;
}

.download--file {
    padding: 20px;
    border-radius: 10px;
}

.magazine--editor {
    display: block;
    margin-top: 10px;
    font-weight: 600;
}

/* Table */
table {
    width: 100%;
}
th {
    border: 2px solid #414141;
    background: #414141;
    padding: 10px;
    text-align: center;
}
td {
    border: 2px solid #414141;
    padding: 10px 20px;
}
.col2 {
    text-align: center;
}
