---
layout: default
---

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="{{ site.baseurl }}">
    <p class="gradient-text" style="font-family: 'Playfair Display', serif;">meliora</p>
  </a>
  <p class="device-notification--message">Global has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>
<div class="container" {% if page.featured_image %}style="background: linear-gradient(4deg, rgb(12, 12, 12) 70%, rgba(255, 255, 255, 0) 100%);"{% endif %}>
<div class="l-wrapper">

  <!-- Header -->
  {% include header.html %}

  <!-- Editors Note -->
  {% include editors-note.html %}

  <!-- Monthly Magazine -->
  {% include highlights.html %}

  <!-- Team Members -->
  {% include about.html %}

  <!-- Download file -->
  {% include download-file.html %}

</div>
</div>
